html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeSpeed;
  background-color: var(--color-black);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  margin: 0;
}

img {
  max-width: 100%;
  border: none;
  display: block;
}
p {
  margin: 0;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset) 0 70px;
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
}
summary {
  list-style-type: none;
}
details[open] .about-course__head::after {
  transform: rotate(180deg);
}
.section {
  position: relative;
  padding: 110px 0 120px;
}

.section::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 100%;
  filter: blur(2px);
  box-shadow: 0 0 24px 0 #00e0ff, 0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 rgba(0, 224, 255, 0.93);
}

.section::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  top: 100%;
  filter: blur(2px);
  box-shadow: 0 0 24px 0 #00e0ff, 0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 rgba(0, 224, 255, 0.93);
}

.logo {
  max-width: 287px;
  max-height: 86px;
  cursor: pointer;
}
/* .link-reset {
  text-decoration: none;
  cursor: pointer;
  }   */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4;
}

.subtitle {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
}
.subtitle--form {
  font-size: 22px;
}
.subtitle__accent {
  color: var(--color-blue);
}

.btn {
  margin-right: auto;
  border: none;
  border-radius: 9px;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  padding: 22px 36px;

  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-white);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .btn:hover {
    background: linear-gradient(
      180deg,
      rgba(7, 185, 209, 0.9) 0%,
      #26dacef5 100%
    );
  }
}

.btn:active {
  background: linear-gradient(
    180deg,
    rgba(0, 191, 217, 0.7) 0%,
    rgba(62, 222, 213, 0.93) 100%
  );
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100hv;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.modal {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal--visible {
  display: block;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: linear-gradient(-63deg, #033958 0%, #0f6b78 100%);
  border-radius: 20px;
  padding: 30px 45px;
}
.form__close {
  position: absolute;
  content: "";
  width: 25px;
  right: 0;
  top: -30px;
  cursor: pointer;
}

.form__title {
  width: 400px;
  text-align: center;
}
.form__subhead {
  display: block;
  color: var(--color-cyan);
  font-size: 12px;
  margin-bottom: 10px;
}

.form__row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.form__row--1 {
  margin-bottom: 15px;
}
.form__block {
  flex-grow: 1;
}

.form__input {
  color: var(--color-white);
  font-size: 12px;
  letter-spacing: 0.6px;
  border: 2px solid transparent;
  border-radius: 9px;
  background: linear-gradient(120deg, #107280 0%, #125873 100%) padding-box,
    /* background: linear-gradient(20deg, #0d7382 0%, #075973 100%) padding-box, */
      radial-gradient(circle, #49b9e8 0%, rgba(31, 77, 96, 0.43) 100%)
      border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.form__input::placeholder {
  color: inherit;
  opacity: 0.7;
  font-size: inherit;
  letter-spacing: inherit;
}

input:focus {
  border: 2px solid inherit;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.form__btn {
  display: block;
  width: 100%;
}
