.pros-course {
  /* padding: 105px 0 115px; */
  background: linear-gradient(to left, #022335 0%, #043a41 100%);
}
.pros-course__title {
  margin-bottom: 40px;
}

.pros-course__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.pros-course__item {
  position: relative;
  padding-top: 11px;
  padding-left: 57px;
  width: 665px;
}

.pros-course__item::before {
  position: absolute;
  display: block;
  content: url("/img/course-item.svg");
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
}
.pros-course__item::after {
  position: absolute;
  display: block;
  content: "";
  width: 41px;
  height: 10px;
  background: rgba(3, 225, 255, 0.46);
  filter: blur(6px);
  top: 17px;
  left: 47px;
}
